passenger_root {{ pillar.get(nginx.passenger.root) }};
passenger_ruby {{ pillar.get(nginx.passenger.ruby) }};
passenger_max_pool_size {{ pillar.get(nginx.passenger.max_pool_size) }};
passenger_spawn_method {{ pillar.get(nginx.passenger.spawn_method) }};
passenger_buffer_response {{ pillar.get(nginx.passenger.buffer_response) }};
passenger_min_instances {{ pillar.get(nginx.passenger.min_instances) }};
passenger_max_instances_per_app {{ pillar.get(nginx.passenger.max_instances_per_app) }};
passenger_pool_idle_time {{ pillar.get(nginx.passenger.pool_idle_time) }};
passenger_max_requests {{ pillar.get(nginx.passenger.max_requests) }};

{%- if pillar.get(nginx.passenger.nodejs) %}
  passenger_nodejs {{ pillar.get(nginx.passenger.nodejs) }};
{% endif %}
