passenger_root {{ root }};
passenger_ruby {{ ruby }};
passenger_max_pool_size {{ max_pool_size }};
passenger_spawn_method {{ spawn_method }};
passenger_buffer_response {{ buffer_response }};
passenger_min_instances {{ min_instances }};
passenger_max_instances_per_app {{ max_instances_per_app }};
passenger_pool_idle_time {{ pool_idle_time }};
passenger_max_requests {{ max_requests }};

{%- if salt['pillar.get']('nginx.passenger.nodejs') %}
passenger_nodejs {{ salt['pillar.get']('nginx.passenger.nodejs') }};
{% endif %}
